NODE_ENV=development

PORT=3000

BASE_URL=
FRONTEND_URL=

DATABASE_URL=

JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_EXPIRES_IN=1d

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

KAFKA_BROKERS=
PARSER_SERVICE_URL=